
.dropdown-dark {
  background: #444;
  border-color: #111111 #0a0a0a black;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
}


.dropdown-dark .dropdown-select:focus {
  color: #cccc;
}



.dropdown-dark:before {
  border-bottom-color: #aaa;
}

.dropdown-dark:after {
  border-top-color: #aaa;
}

 select, textarea {
    color: white;
    font: inherit;
    margin: 10px;
}


           #example1 {
                background: url('/images/Western_Background.jpg') center center no-repeat fixed;
                    width:100%;
                    height: 100%;
                    position: absolute;
                    background-size: cover;
                   
                
            }
            
          .navbar-inverse {
                        background-color: #92cddb;
                        border-color: #080808;
                        border-radius:20px;
                        margin:5px;
                    }
        
            .navbar {
                        margin-bottom: 0px;
                        
                    }
            
h1 {
    
    text-align: center;
    font-size: 50px;
}            

.whitetable {
    
    background: white;
    background-color:  white;
}



