<section ng-controller='Listcontroller'>
  <div  class="row">
    <div class="col-md-4"   ng-controller="switchViews">
         <select ng-model="multipleSelect" ng-change="someFunction()" class="dropdown-dark dropdown-select" value="Select a option1" >
           <option style="display:none;" selected="" disabled="" value="">Select an option</option>
           <option   value="/login" href="#/login" selected="selected" >Create a post</option>
          <option  value="/track" href="#/track">edit a post</option>
          <option  value="/comments" href="#/comments">post and comments</option>
          <option  value="/allPosts" href="#/track">Track all posts</option>
        </select>
    </div>
  </div>
  
   <div  class="row" >
       <div class="col-md-offset-3 col-md-4">
  

         <form  >
            <div class="form-group" >
              <h1 > Posting </h1>
              <textarea ng-model="postdata" class="form-control" rows="5" id="comment" name="postdata" height="300px" width="300px" placeholder="Dummy text posting field"></textarea>
            
                <button type="button" class="btn btn-primary btn-md"  ng-click='search()'>Create Post</button>
                <button type="button" class="btn btn-primary btn-md">Delete Post</button>

        

            </div>
       </div>

        <div class="col-md-4" >
             <div class="checkbox">
               <label><input type="checkbox" value="facebook" ng-model="connectFacebook" ng-change="callFacebook()" >Facebook</label>
                <a  href="/auth/facebook"  ><img src="images/LoginWithFacebookButton.jpg"   ></a>
                
             
           
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="twitter" ng-model="connectTwitter">Twitter</label>
              <a  href="/auth/twitter"  ><img src="images/sign-in-with-twitter-gray.png"   ></a>
              
            </div>
            <div class="checkbox ">
              <label><input type="checkbox" value="linkedin" ng-model="connectLinkedin">LinkedIn</label>
              <a  href="/auth/linkedin"  ><img src="images/signin_with_linkedin.png"   ></a>
            </div>
        </div>
    
        </form>

    </div>    
    
    

<div id="status">
</div>
    


    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>

</section>