<section >
  <div  class="row">
    <div class="col-md-4"   ng-controller="switchViews">
         <select ng-model="multipleSelect" ng-change="someFunction()" class="dropdown-dark dropdown-select" value="Select a option1" >
           <option style="display:none;" selected="" disabled="" value="">Select an option</option>
           <option   value="/login" href="#/login" selected="selected" >Create a post</option>
          <option  value="/track" href="#/track">edit a post</option>
          <option  value="/comments" href="#/comments">post and comments</option>
          <option  value="/allPosts" href="#/track">Track all posts</option>
        </select>
    </div>
  </div>
  
   <div  class="row">
       <div class="col-md-offset-3 col-md-4">
  

         <form ng-controller='Listcontroller' >
            <div class="form-group" ng-controller='Listcontroller' >
              <h1 > Posting </h1>
              <textarea ng-model="postdata" class="form-control" rows="5" id="comment" name="postdata" height="300px" width="300px" placeholder="Dummy text posting field"></textarea>
            
            <button type="button" class="btn btn-primary btn-md"  ng-click='search()'>Create Post</button>
            <button type="button" class="btn btn-primary btn-md">Delete Post</button>

        </form>

        </div>
       </div>

        <div class="col-md-4">
             <div class="checkbox">
              <label><input type="checkbox" value="">Option 1</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="">Option 2</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
            <div class="checkbox ">
              <label><input type="checkbox" value="" disabled>Option 3</label>
              <button type="button" class="btn btn-primary btn-md">select source</button>
            </div>
        </div>

    </div>    
    



    


    <br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br>

</section>